/* icon */
.icon--cars {
  display: inline-block;
  max-width: 6.3rem;
}

/* container */
.container {
  margin: auto 0;
  max-width: 87vw;
}
@media screen and (min-width: 48rem) {
  .container {
    max-width: 80vw;
  }
}

@media screen and (min-width: 90rem) {
  .container {
    max-width: 92rem;
  }
}

/* card */

.card {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: var(--space-500);
  padding: var(--space-600);
  background-color: var(--color-gold-500);
}

.card--luxury {
  background-color: var(--color-green-950);
}
.card--luxury .btn {
  color: var(--color-green-950);
}

.card-suvs {
  background-color: var(--color-Cyan-800);
}
.card-suvs .btn {
  color: var(--color-Cyan-800);
}
.card--content {
  display: flex;
  flex-direction: column;
  gap: var(--space-1000);
}

.card--content_header {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.card--title {
  font-family: "Big Shoulders", serif;
  font-size: var(--fs-pr1);
  line-height: var(--lh-pr1);
  color: var(--color-white);
}

.card--desc {
  font-family: "Lexend Deca", serif;
  font-size: var(--fs-pr2);
  line-height: var(--lh-pr2);
  color: var(--color-white);
  opacity: 0.7;
}

.cards--block {
  display: grid;
  justify-self: center;
  width: 100%;
  margin: 8.4rem 0;
  overflow: hidden;
  border-radius: var(--space-100);
}

@media screen and (min-width: 48rem) {
  .card {
    padding: var(--space-600) var(--space-1000);
  }
  .card--desc {
    max-width: 70rem;
    width: 100%;
  }
}
@media screen and (min-width: 64rem) {
  .cards--block {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    padding: var(--space-600);
  }
}
